---
import "../style.css";
const { header, subheader } = Astro.props;
---

<section class="heroSection">
  <div id="text">
    <h4 class="">{subheader}</h4>
    <a class="button" href="#billetter">Deltag i en Tumletid</a>
  </div>
</section>

<style>
  a.button {
    border: 1px solid var(--p-white);
    color: var(--p-white);
    text-align: center;
  }
  a.button:hover {
    background-color: var(--p-white);
    color: var(--p-black);
  }

  .heroSection {
    background-image: url("/img/tumletid1.jpg");
    height: 70vh;
    background-position: top;
    display: flex;
    padding: var(--m-spacing);
    align-items: flex-end;
    background-size: cover;
  }

  #text {
    display: flex;
    flex-direction: column;
    color: var(--p-white);
    margin-bottom: var(--l-spacing);
    gap: var(--s-spacing);
  }

  @media (min-width: 800px) {
    .heroSection {
      height: 90vh;
      padding: var(--xl-spacing);
    }
  }
</style>
